<!DOCTYPE html>
<html>
    <head>
        <title>Tutorial</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <h1>Image Classifer</h1>

        <form class="p-3 text-center" action='/' method="POST" enctype="multipart/form-data">
        <!--<form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data"> -->
            <input class="form-control" type="file" value='imagefile' >
            <input class="btn btn-primary mt-3" type="submit" value="Predict Image" >
        </form>
    </body>
</html>